<ion-view title="Login" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header cust-center-ion-content3" >
        <form class="list">
            <div class="centerText">
                <h1>Goalz</h1>
                <p>Log In</p>
            </div>
            <ion-list>
                <label class="item item-input">
<!--                     <span class="input-label" >email</span> -->
                    <input type="text" ng-model="loginUser.email" placeholder="email">
                </label>
                <label class="item item-input">
<!--                     <span class="input-label" >Password</span> -->
                    <input type="password" ng-model="loginUser.password" placeholder="password">
                </label>
            </ion-list>
            <p ng-show="errorPrompt">Enter valid email and password</p>
            <a ng-click="login()" class="ng-class:{ 'disabled': loginUser.password.length <1 || loginUser.email.length <1}; button button-balanced button-block ">Log in</a>
        </form>
        <a href="#/signup" class="button button-clear button-block ">Or create an account</a>
    </ion-content>
</ion-view>