<ion-view title="Login" hide-nav-bar="true" class="gradBG">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header cust-center-ion-content3 ">
        <form class="list" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
            <div class="centerText">
                <h1>Goalz</h1>
                <p>Log In</p>
            </div>
            <ion-list>
                <label class="item item-input">
<!--                     <span class="input-label" >email</span> -->
                    <input type="email" ng-model="loginUser.email" placeholder="email" required>
                </label>
                <label class="item item-input">
<!--                     <span class="input-label" >Password</span> -->
                    <input type="password" ng-model="loginUser.password" placeholder="password" required>
                </label>
            </ion-list>
            <button ng-show="!loading" class="button button-balanced button-block " ng-disabled="loginForm.$invalid" type="submit">
                Log in 
            </button>
            <div class="row centerText">
                <ion-spinner icon="dots" style="margin:auto" ng-show="loading" ></ion-spinner>
            </div>

            <p style="color:red" ng-show="loginError.length>0">{{loginError}}</p>
        </form>
        <a href="#/signup" class="button button-clear button-block ">Or create an account</a>
    </ion-content>
</ion-view>

<!-- ng-class:{ 'disabled': loginUser.password.length <1 || loginUser.email.length <1};  -->