<ion-view title="New Goal">

    <ion-nav-buttons side="right">
      <button class="button noBorder" ng-click="addGoal(_forms.newGoalForm.$valid)" ng-disabled="!_forms.newGoalForm.$valid">
        Save
      </button>
    </ion-nav-buttons>



    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form name="_forms.newGoalForm" ng-submit="addGoal(_forms.newGoalForm.$valid)" novalidate>




            <label class="item item-input noBorder">
                <input type="text" name="goalTitle" placeholder="What do you want to achieve? eg:'make more pancakes'" ng-model="newGoal.goalTitle" required>
            </label>
            <p ng-show="_forms.newGoalForm.goalTitle.$viewValue == '' && !_forms.newGoalForm.$pristine" class="centerText help-block">You must give your goal a title</p>




            <label class="item item-input noBorder">
            		<span>Deadline:  </span>
                <input type="date" name='deadline' ng-model="newGoal.deadline">
            </label>



            <ion-toggle ng-model="newGoal.measurable" toggle-class="toggle-calm" class="noBorder">Is this measurable?</ion-toggle>
            <div ng-show="newGoal.measurable">
                <label class="item item-input noBorder">
                    <span class="input-label">Unit of measure: </span>
                    <input type="text" placeholder='eg: "km", "no. of pancakes made"' ng-model="newGoal.measureUnit">
                </label>
            </div>



            <div>
                <ion-toggle ng-model="newGoal.hasRegTask" toggle-class="toggle-calm" class="noBorder">Is there a task to regularly do?</ion-toggle>
                <div ng-show="newGoal.hasRegTask">
                    <label class="item item-input noBorder">
                        <span class="input-label">Regular task:</span>
                        <input type="text" placeholder='eg: "Make some pancakes"' ng-model="newGoal.subTask">
                    </label>
                </div>
            </div>



<!--             <button type="submit" class='button button-balanced button-block' ng-disabled="!_forms.newGoalForm.$valid">Save Goal</button> -->
        </form>

    </ion-content>
</ion-view>
