<ion-view title="Signup" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header cust-center-ion-content3">
        <form class="list" name="signupForm" ng-submit="signup(signupForm.$valid)" novalidate>
            <div class="centerText">
                <h1>Goalz</h1>
                <p>Sign Up</p>
            </div>
            <ion-list>
                <label class="item item-input">
<!--                     <span class="input-label">Email</span> -->
                    <input type="email" ng-model="signupUser.email" placeholder="email">
                </label>
                <label class="item item-input">
<!--                     <span class="input-label">Password</span> -->
                    <input type="password" ng-model="signupUser.password" placeholder="password">
                </label>
            </ion-list>
            <button class="button button-balanced button-block " ng-click="signup()">Sign up</button>
        </form>
        <a href="#/login" class="button button-clear button-block ">I have an account</a>
    </ion-content>
</ion-view>